@charset "UTF-8";

/* 回答はここに書いてね */
.contentbox {
  width: 900px;
  position: relative;
  background-color: #eff3f4;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
}
.content__inner {
  width: 230px;
  float: left;
  background-color: #3274ae;
  padding: 20px;
}
.content__inner:not(:first-child) {
  margin-left: 20px;
}
.content {
  background-color: #eaf4ff;
  border: 10px solid #022336;
  font-size: 16px;
  line-height: 16px;
  padding: 20px;
  margin: 0 auto;
}
.clearfix::before {
  content: "";
  display: table !important;
}
.clearfix::after {
  clear: both;
}
/* 回答はここに書いてね */
