@charset "UTF-8";

/* 回答はここに書いてね */
.content {
  width: 100%;
  table-layout: fixed;
  border: solid #dedede 1px;
}
th {
  color: #fff;
  background-color: #2244aa;
  font-size: 18px;
  line-height: 26px;
  padding: 10px;
  border: solid #dedede 1px;
  text-align: center;
}
td {
  color: #000;
  font-size: 16px;
  line-height: 22px;
  padding: 10px;
  border: solid #dedede 1px;
  text-align: center;
}
tr:nth-child(2n+3) {
  background-color: #ecf1f2;
}
tr:last-child {
  border-top: dashed #000 2px;
}


/* 回答はここに書いてね */
